.ingredients-page {

    scroll-content {
        display: flex;
        flex-direction: column;
    }

    ion-grid {
        padding:0;
        height: 100%;
    }

    ion-list {
        width: 100%;
    }

    ion-content {
        height: 100%;
    }

    .list {
        flex: 5;
        width: 100%;
    }

    .split-bar {
        flex: 1;
        width: 100%;
    }

    //#selected {
    //  background:blue;
    //}

}
