<!--
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ingredients</ion-title>
  </ion-navbar>
</ion-header>
-->
<ion-content class="ingredients-page">
  <ion-grid>
    <ion-row class="list">
      <ion-content id="selected">
        <ion-list>
          <button ion-item *ngFor="let pairing of selectedPairings" (click)="selectedTapped($event, pairing)">
            {{pairing.ingt}}
            <div class="item-note" item-right>
              {{pairing.score}}
            </div>
          </button>
        </ion-list>
      </ion-content>
    </ion-row>

    <ion-row class="split-bar">
      <ion-col width-75>
        <ion-searchbar [(ngModel)]="filterTerm" (ionInput)="filterPairings()">
        </ion-searchbar>
      </ion-col>
      <ion-col width-25>
        <button ion-button (click)="reset()">Reset</button>
      </ion-col>
    </ion-row>

    <ion-row class="list">
      <ion-content id="recommended">
        <ion-list>
          <button ion-item *ngFor="let pairing of recommendedPairings" (click)="recommendedTapped($event, pairing)">
            {{pairing.ingt}}
            <div class="item-note" item-right>
              {{pairing.score}}
            </div>
          </button>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>
    </ion-row>
  </ion-grid>
</ion-content>
